:local .SearchUserItem {
  display: flex;
  padding: 16px;

  &Action {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &Actions {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  &Avatar {
    height: 40px;
    width: 40px;
  }

  &Info {
    padding: 0 16px;
  }
}
