.InvoiceStatusContainer
  border-top: 1px solid rgba(23, 77, 161, 0.43)
  margin-top: 20px
  padding-top: 16px

.InvoiceStatusField
  display: flex
  line-height: 24px

  &:not(:first-child)
    margin-top: 12px

.InvoiceStatusLabel
  color: rgba(0, 0, 0, 0.43)
  flex: 0 0 30px
  margin-right: 12px
