.SidebarInvoicesItem
  padding: 8px 0 16px;

  &:not(:first-child)
    border-top: 1px solid rgba(23, 77, 161, 0.43)


.SidebarInvoicesItemActions
  display: flex
  justify-content: flex-end
  margin-top: 8px

.SidebarInvoicesItemAmount
  flex: 0 0 50%
  font-size: 16px
  font-weight: 600
  text-align: right

.SidebarInvoicesItemComment
  margin-top: 4px

.SidebarInvoicesItemCurrency
  color: rgba(0, 0, 0, .43)
  margin-left: 4px

.SidebarInvoicesItemDate
  color: rgba(0, 0, 0, .43)
  font-size: 12px
  line-height: 16px

.SidebarInvoicesItemDirection
  color: rgba(0, 0, 0, .43)
  flex: 0 0 50%

.SidebarInvoicesItemHeader
  display: flex

.SidebarInvoicesItemUser
  display: flex
  margin-top: 4px

.SidebarInvoicesItemUserAvatar
  flex: 0 0 36px
  height: 36px
  margin-right: 8px
  width: 36px

.SidebarInvoicesItemUserName
  line-height: 20px
