{
  "env": {
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    }
  },
  "plugins": [ "add-module-exports", "dynamic-import-webpack" ],
  "presets": [
    ["env", {
      "targets": { "node": 8 },
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ]
}
