.Messages {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}

.MessagesContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
}

.MessagesList {
  overflow: auto;
  padding: 24px;
}
