.FormAction
  &:not(:first-child)
    margin-left: 12px

.FormActions
  margin-top: 24px

.FormField
  margin-bottom: 16px

.FormGroup
  display: flex

.FormGroupField
  flex: 1 1 auto

  &:not(:last-child)
    margin-right: 24px
