color-danger = #E8322B
color-primary = #174DA1
color-text-secondary = rgba(0, 0, 0, .43)

.InputContainer
  box-sizing: border-box
  margin-bottom: 8px
  padding-top: 12px
  position: relative

.InputControl
  background: transparent
  border: 0
  font-family: inherit
  font-size: 16px
  height: 24px
  padding: 0
  width: 100%

  &Focused
    border-color: color-primary

  &:focus
    outline: none

.InputDivider
  background: rgba(0, 0, 0, .12)
  height: 1px
  width: 100%

  &Error
    background: color-danger

  &Focused
    background: color-primary

.InputError
  color: color-danger

.InputLabel
  color: color-text-secondary
  font-size: 16px
  left: 0
  line-height: 24px
  position: absolute
  top: 12px

  &:hover
    cursor: text

  &Densed
    font-size: 12px
    line-height: 16px
    top: 0

  &Error
    color: color-danger

  &Focused
    color: color-primary
