.UsersShowContactsUser
  align-items: center
  display: flex
  flex: 0 0 100px
  flex-direction: column
  padding: 0 12px

  &:hover
    cursor: pointer

  &:not(:last-child)
    margin-right: 20px

.UsersShowContactsUserAvatar
  height: 72px
  width: 72px

.UsersShowContactsUserName
  display: flex
  flex-direction: column
  margin-top: 8px
  text-align: center

.UsersShowContactsUserSurname
  font-weight: 600
