.SignLoginAddress
  font-size: 14px
  line-height: 16px
  margin-top: 20px

.SignLoginDescription
  font-size: 18px
  font-weight: 500
  line-height: 22px
  margin-top: 32px

// @todo - create typography bootstrap
.SignLoginTitle
  font-size: 24px
  font-weight: 500
  line-height: 28px

