color-secondary = rgba(0, 0, 0, .43)

.SidebarContactsItem
  align-items: center
  display: flex
  padding: 8px 0

  &:not(:first-child)
    border-top: 1px solid rgba(23, 77, 161, 0.43)

.SidebarContactsItemAvatar
  flex: 0 0 36px
  height: 36px
  width: 36px

.SidebarContactsItemCompany
  color: color-secondary
  font-size: 10px

.SidebarContactsItemName
  font-size: 12px

.SidebarContactsItemPersonal
  flex: 1 1 auto
  margin-left: 12px

.SidebarContactsItemPosition
  color: color-secondary
  font-size: 10px
