.SidebarMessagesDialog
  align-items: center
  display: flex
  padding: 12px 0

  &:hover
    cursor: pointer

  &:not(:first-child)
    border-top: 1px solid rgba(23, 77, 161, .43)

.SidebarMessagesDialogAvatar
  flex: 0 0 36px
  height: 36px
  margin-right: 12px
  width: 36px

.SidebarMessagesDialogMessage
  color: rgba(0, 0, 0, .43);

.SidebarMessagesDialogName
  font-size: 16px
