@import "../../index.styl"

.SignRecoveryBlock
  @extend .SignContainerBlock

.SignRecoveryBlockTitle
  @extend .SignContainerBlockTitle

.SignRecoveryTitle
  @extend .SignContainerTitle

.SignRecoveryPhrase
  display: flex
  flex-wrap: wrap

.SignRecoveryPhraseWord
  border-bottom: 1px solid color-black
  flex: 0 0 60px
  font-size: 12px
  padding: 8px
  text-align: center

  &:not(:last-child)
    margin-right: 8px
