.SidebarInvoicesItem {
  padding: 8px 0 16px;

  &:not(:first-child) {
    border-top: 1px solid rgba(23, 77, 161, .43);
  }
}

.SidebarInvoicesItemActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.SidebarInvoicesItemComment {
  margin-top: 4px;
}

.SidebarInvoicesItemCurrency {
  color: rgba(0, 0, 0, .43);
  margin-left: 4px;
}

.SidebarInvoicesItemDirection {
  color: rgba(0, 0, 0, .43);
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}

.SidebarInvoicesItemHeader {
  display: flex;
}

.SidebarInvoicesItemNumber {
  font-size: 16px;
  font-weight: 600;
  flex: 0 0 50%;
}

.SidebarInvoicesItemSum {
  flex: 0 0 50%;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.SidebarInvoicesItemUser {
  margin-top: 4px;
}
