.PersonalRating {
  &Densed {
    align-items: center;
    display: flex;

    .RatingNumber {
      margin-left: 4px;
    }
  }
}

.PersonalRatingNumber {
  margin-top: 4px;
  text-align: right;
  white-space: nowrap;
}

.PersonalRatingStar {
  color: rgba(0, 0, 0, .1);

  &Active {
    color: #174DA1;
  }
}

.PersonalRatingStars {
  display: flex;
  font-size: 20px;
}
