color-secondary = rgba(0, 0, 0, .43)

.Personal
  align-items: center
  display: flex

  &Densed
    .PersonalAvatar
      flex: 0 0 36px
      height: 36px
      margin-right: 12px
      width: 36px

    .PersonalCountry
      margin: 0

    .PersonalPosition
      margin: 0

.PersonalAvatar
  flex: 0 0 72px
  height: 72px
  margin-right: 16px
  width: 72px

.PersonalCountry
  align-items: center;
  color: color-secondary
  display: flex;
  font-size: 12px
  margin-top: 4px

.PersonalCountryIcon
    height: 12px
    margin-right: 4px
    width: 12px

.PersonalHeader
  display: flex

.PersonalInfo {
  flex: 1 1 auto;
  overflow: hidden;
}

.PersonalName
  font-size: 16px

.PersonalPosition
  color: color-secondary
  font-size: 14px
  margin-top: 4px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.PersonalRating {
  align-self: flex-start;
  margin-left: 16px;
}
