:local .InvoicesItem {
  align-items: center;
  display: flex;
  padding: 16px;
}

:local .InvoicesItemDescription {
  flex: 0 0 250px;
}

:local .InvoicesItemStatus {
  flex: 0 0 200px;
}

:local .InvoicesItemTotal {
  flex: 0 0 100px
}

:local .InvoicesItemUser {
  align-items: center;
  display: flex;
  flex: 0 0 200px
}

:local .InvoicesItemUserAvatar {
  height: 40px;
  width: 40px;
}

:local .InvoicesItemUserLink {
  padding: 0 16px;
}
