.UserContact
  align-items: center
  display: flex
  flex-direction: column
  padding: 16px

  &:hover {
    cursor: pointer
  }

  &:not(:first-child)
    margin-left: 20px

.UserContactAvatar
  flex: 0 0 72px
  height: 72px
  width: 72px

.UserContactSurname
  margin-top: 8px
