color-secondary = rgba(0, 0, 0, .43)

.UserExperience
  &:not(:first-child)
    border-top: 1px solid rgba(23, 77, 161, 0.43)
    margin-top: 20px
    padding-top: 20px

.UserExperienceContainer
  margin-top: 8px

.UserExperienceDate
  color: color-secondary
  font-size: 12px

.UserExperienceHeader
  display: flex

.UserExperienceInfo
  flex: 1 1 auto
  margin-left: 12px

.UserExperienceLogo
  display: 0 0 36px
  height: 36px
  width: 36px

.UserExperienceTitle
  font-size: 18px
