color-secondary = rgba(0, 0, 0, .43)
color-tag = rgba(0, 0, 0, .1)

.UserTag
  background: color-tag
  color: color-secondary
  font-size: 12px
  height: 24px
  line-height: 24px
  margin: 8px 12px 0 0
  padding: 0 12px
