color-secondary = rgba(0, 0, 0, .43)

.UsersUserActions
  border-top: 1px solid rgba(23, 77, 161, 0.43)
  margin-top: 16px
  padding-top: 16px

.UsersUserTag
  margin: 8px 12px 0 0

.UsersUserTags
  display: flex
  flex-wrap: wrap
  margin-top: 12px
