color-black = rgba(0, 0, 0, .87)
color-primary = #174DA1
color-white = #FFF

.Sign
  background: #F9F9F9
  display: flex
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 2

.SignAbout
  align-items: center
  background: color-primary
  color: color-white
  display: flex
  flex: 0 0 452px
  flex-direction: column
  justify-content: center
  padding: 24px

.SignAboutAction
  &:not(:first-child)
    margin-left: 12px

.SignAboutActions
  margin-top: 26px

.SignAboutLogo
  align-items: center
  display: flex

.SignAboutLogoIcon {
  background-color: #F00;
  height: 26px;
  width: 22px;
}

.SignAboutLogoTitle
  font-family: Moderat
  font-size: 15px
  margin-left: 8px

.SignAboutItem
  height: 28px
  line-height: 30px
  padding: 0 12px
  white-space: nowrap

  &:not(:first-child)
    border-left: 1px solid color-white

.SignAboutItems
  display: flex
  margin-top: 8px
  text-align: center

.SignAboutTitle
  font-size: 24px
  font-weight: 500
  margin-top: 8px
  text-align: center

.SignContainer
  align-items: center
  display: flex
  flex: 1 1 auto
  padding: 0 72px

.SignContainerBlock
  margin-bottom: 16px

.SignContainerBlockTitle
  font-weight: 600
  margin-bottom: 12px

.SignContainerTitle
  font-size: 24px
  font-weight: 600
  margin-bottom: 24px
