.UsersShowContactsInvitation
  text-align: center

.UsersShowContactsInvitationAction
  margin-top: 12px

.UsersShowContactsList
  border-bottom: 1px solid rgba(23, 77, 161, 0.43);
  display: flex
  margin-bottom: 20px
  padding-bottom: 24px


