.UserAvatar {
  flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  width: 36px;
}

.UserContainer {
  align-items: center;
  display: flex;
}

.UserInfo {
  flex: 1 1 auto;
  overflow: hidden;
}

.UserName {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.UserPosition {
  color: rgba(0, 0, 0, .43);
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
