color-secondary = rgba(0, 0, 0, .43)

.UsersShowExperienceProject
  &:not(:first-child)
    border-top: 1px solid rgba(23, 77, 161, 0.43)
    margin-top: 20px
    padding-top: 20px

.UsersShowExperienceProjectContainer
  margin-top: 12px

.UsersShowExperienceProjectDate
  color: color-secondary
  font-size: 12px

.UsersShowExperienceProjectHeader
  display: flex

.UsersShowExperienceProjectInfo
  flex: 1 1 auto
  margin-left: 12px

.UsersShowExperienceProjectLogo
  display: 0 0 36px
  height: 36px
  width: 36px

.UsersShowExperienceProjectTitle
  font-size: 18px
