.SearchForm {
  align-items: center;
  background: #FFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
  display: flex;
  height: 60px;
  padding: 0 24px;
}

.SearchFormButton {
  height: 20px;
  margin-right: 12px;
  position: relative;
  top: 2px;
  width: 20px;
}

.SearchFormInput {
  flex: 1 1 auto;
}
