:local .SearchUserItem {
  display: flex;
  padding: 16px;
}

:local .SearchUserItemInfo {
  padding: 0 16px;
}

:local .SearchUserItemAction {
  &:not(:first-child) {
    margin-top: 8px;
  }
}

:local .SearchUserItemActions {
  display: flex;
  flex-direction: column;
}
