color-secondary = rgba(0, 0, 0, .43)

.UserActions
  border-top: 1px solid rgba(23, 77, 161, 0.43)
  margin-top: 16px
  padding-top: 16px

.UserAvatar
  flex: 0 0 72px
  height: 72px
  width: 72px

.UserContacts
  display: flex

.UserCountry
  color: color-secondary
  font-size: 10px
  margin-top: 6px

  &:before
    background: url(images/geo.svg)
    content: ''
    display: inline-block
    height: 8px
    margin-right: 4px
    width: 6px

.UserHeader
  display: flex

.UserInfo
  flex: 1 1 auto
  margin-left: 16px

.UserName
  font-size: 18px

.UserPosition
  color: color-secondary
  font-size: 12px
  margin-top: 2px

.UserTag
  margin: 8px 12px 0 0

.UserTags
  display: flex
  flex-wrap: wrap
  margin-top: 12px
