:local .User {

}

:local .UserHeader {
  display: flex;
}

:local .UserHeaderAction {
  &:not(:first-child) {
    margin-top: 8px;
  }
}

:local .UserHeaderActions {
  display: flex;
  flex-direction: column;
}

:local .UserHeaderInfo {
  padding: 0 16px;
}
