color-secondary = rgba(0, 0, 0, .43)

.Avatar
  align-items: center
  background: color-secondary
  border-radius: 100%
  display: flex
  justify-content: center
  overflow: hidden

.AvatarContent
  height: 100%
  object-fit: cover
  width: 100%
