.Block
  background: #fff
  margin: 12px
  padding: 24px

.BlockAction
  &:not(:last-child)
    margin-right: 12px

.BlockActions
  flex: 0 0 auto

.BlockHeader
  display: flex
  margin-bottom: 16px

.BlockTitle
  flex: 1 1 auto
  font-size: 18px
  font-weight: 700
