color-danger = #E8322B
color-primary = #174DA1
color-secondary = rgba(0, 0, 0, .43)
color-white = #FFF

ButtonTheme(primaryColor, secondaryColor)
  border-color: primaryColor
  color: primaryColor

  &:hover
    background: primaryColor
    border-color: primaryColor
    color: secondaryColor

  &.ButtonSolid
    background: primaryColor
    border-color: primaryColor
    color: secondaryColor

    &:hover
      background: transparent
      border-color: primaryColor
      color: primaryColor

.Button
  background: transparent
  border: 0
  font-family: Segoe UI
  font-size: 14px
  margin: 0
  padding: 0

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &:not(.ButtonCustom)
    border: 1px solid
    height: 24px
    min-width: 72px
    padding: 0 18px

.ButtonDisabled
  pointer-events: none
  opacity: .42

.ButtonDanger
  ButtonTheme(color-danger, color-white)

.ButtonSecondary
  ButtonTheme(color-secondary, color-white)

.ButtonPrimary
  ButtonTheme(color-primary, color-white)

.ButtonWhite
  ButtonTheme(color-white, color-primary)

.ButtonWhite
  border-color: color-white
  color: color-white

  &:hover
    background: color-white
    color: color-primary

  &.ButtonSolid
    background: color-white
    color: color-primary

    &:hover
      background: transparent
      color: color-white
