color-primary = #174DA1
color-secondary = rgba(0, 0, 0, .43)
color-white = #FFF

.Button
  background: transparent
  border: 0
  font-family: Segoe UI
  font-size: 14px
  margin: 0
  padding: 0

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &:not(.ButtonCustom)
    border: 1px solid
    height: 24px
    min-width: 72px
    padding: 0 18px

.ButtonDisabled
  pointer-events: none
  opacity: .42

.ButtonSecondary
  border-color: color-secondary
  color: color-secondary

  &:hover
    background: color-secondary
    color: color-white

  &.ButtonSolid
    background: color-secondary
    color: color-white

    &:hover
      background: transparent
      color: color-secondary

.ButtonPrimary
  border-color: color-primary
  color: color-primary

  &:hover
    background: color-primary
    color: color-white

  &.ButtonSolid
    background: color-primary
    color: color-white

    &:hover
      background: transparent
      color: color-primary

.ButtonWhite
  border-color: color-white
  color: color-white

  &:hover
    background: color-white
    color: color-primary

  &.ButtonSolid
    background: color-white
    color: color-primary

    &:hover
      background: transparent
      color: color-white
