.Icon
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  display: block
  height: 100%
  width: 100%

.IconAddContact
  background-image: url(images/addContact.svg)
  height: 17px
  width: 15px

.IconSearch
  background-image: url(images/search.svg)
