color-text = rgba(0, 0, 0, .87)

body
  color: color-text
  font-family: Avenir
  font-size: 14px
  margin: 0
  padding: 0

  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

@font-face
  font-family: Avenir
  font-weight: 200
  src: url('../../static/fonts/avenir/AvenirNext-UltraLight.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 200
  src: url('../../static/fonts/avenir/AvenirNext-UltraLightItalic.ttf')

@font-face
  font-family: Avenir
  font-weight: 400
  src: url('../../static/fonts/avenir/AvenirNext-Regular.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 400
  src: url('../../static/fonts/avenir/AvenirNext-Italic.ttf')

@font-face
  font-family: Avenir
  font-weight: 500
  src: url('../../static/fonts/avenir/AvenirNext-Medium.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 500
  src: url('../../static/fonts/avenir/AvenirNext-MediumItalic.ttf')

@font-face
  font-family Avenir
  font-weight 600
  src url('../../static/fonts/avenir/AvenirNext-DemiBold.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 600
  src: url('../../static/fonts/avenir/AvenirNext-DemiBold.ttf')

@font-face
  font-family: Avenir
  font-weight: 700
  src: url('../../static/fonts/avenir/AvenirNext-Bold.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 700
  src: url('../../static/fonts/avenir/AvenirNext-BoldItalic.ttf')

@font-face
  font-family: Avenir
  font-weight: 800
  src: url('../../static/fonts/avenir/AvenirNext-Heavy.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 800
  src: url('../../static/fonts/avenir/AvenirNext-HeavyItalic.ttf')

@font-face
  font-family: Moderat
  font-weight: 400
  src: url('../../static/fonts/moderat/Moderat-Regular.otf')
