color-text = rgba(0, 0, 0, .87)

.App
  display: flex
  flex: 1 1 auto
  flex-direction: column

.AppBody
  display: flex
  flex: 1 1 auto

.AppContainer
  flex: 1 1 auto

html
  display: flex
  min-height: 100%
  min-width: 100%

body
  background: #F9F9F9
  color: color-text
  font-family: Segoe UI
  font-size: 14px
  margin: 0
  padding: 0

  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

body, body > div
  display: flex
  flex: 1 1 auto

@font-face
  font-family: Avenir
  font-weight: 200
  src: url('../../static/fonts/avenir/AvenirNext-UltraLight.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 200
  src: url('../../static/fonts/avenir/AvenirNext-UltraLightItalic.ttf')

@font-face
  font-family: Avenir
  font-weight: 400
  src: url('../../static/fonts/avenir/AvenirNext-Regular.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 400
  src: url('../../static/fonts/avenir/AvenirNext-Italic.ttf')

@font-face
  font-family: Avenir
  font-weight: 500
  src: url('../../static/fonts/avenir/AvenirNext-Medium.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 500
  src: url('../../static/fonts/avenir/AvenirNext-MediumItalic.ttf')

@font-face
  font-family Avenir
  font-weight 600
  src url('../../static/fonts/avenir/AvenirNext-DemiBold.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 600
  src: url('../../static/fonts/avenir/AvenirNext-DemiBold.ttf')

@font-face
  font-family: Avenir
  font-weight: 700
  src: url('../../static/fonts/avenir/AvenirNext-Bold.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 700
  src: url('../../static/fonts/avenir/AvenirNext-BoldItalic.ttf')

@font-face
  font-family: Avenir
  font-weight: 800
  src: url('../../static/fonts/avenir/AvenirNext-Heavy.ttf')

@font-face
  font-family: Avenir
  font-style: italic
  font-weight: 800
  src: url('../../static/fonts/avenir/AvenirNext-HeavyItalic.ttf')

@font-face
  font-family: Moderat
  font-weight: 400
  src: url('../../static/fonts/moderat/Moderat-Regular.otf')


@font-face
  font-family: Segoe UI
  font-weight: 200
  src: url(fonts/Segoe/SegoeLight.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 200
  src: url(fonts/Segoe/SegoeLightItalic.ttf)

@font-face
  font-family: Segoe UI
  font-weight: 300
  src: url(fonts/Segoe/SegoeSemiLight.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 300
  src: url(fonts/Segoe/SegoeSemiLightItalic.ttf)

@font-face
  font-family: Segoe UI
  font-weight: 400
  src: url(fonts/Segoe/Segoe.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 400
  src: url(fonts/Segoe/SegoeItalic.ttf)

@font-face
  font-family: Segoe UI
  font-weight: 600
  src: url(fonts/Segoe/SegoeSemiBold.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 600
  src: url(fonts/Segoe/SegoeSemiBoldItalic.ttf)

@font-face
  font-family: Segoe UI
  font-weight: 700
  src: url(fonts/Segoe/SegoeBold.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 700
  src: url(fonts/Segoe/SegoeBoldItalic.ttf)

@font-face
  font-family: Segoe UI
  font-weight: 800
  src: url(fonts/Segoe/SegoeBlack.ttf)

@font-face
  font-family: Segoe UI
  font-style: italic
  font-weight: 800
  src: url(fonts/Segoe/SegoeBlackItalic.ttf)

