.FormCheckboxControl {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .38);
  box-sizing: border-box;
  display: flex;
  height: 16px;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
}

.FormCheckboxControlIcon {
  background-color: rgba(0, 0, 0, .38) !important;
  height: 12px !important;
  width: 12px !important;
}

.FormCheckboxInput {
  display: none;
}

.FormCheckboxLabel {
  align-items: center;
  color: color-rgba(0, 0, 0, .38);
  display: flex;
  line-height: 18px;

  &:hover {
    cursor: pointer;
  }
}
