.InputFile
  height: 100%
  width: 100%

.InputFileControl
  display: none

.InputFileLabel
  align-items: center
  display: flex
  font-size: 18px
  font-weight: 300
  height: 100%
  width: 100%

  &:hover
    cursor: pointer
