color-secondary = rgba(0, 0, 0, .43)

.SidebarTab
  align-items: center
  color: color-secondary
  display: flex
  flex: 0 0 64px

  &:not(:first-child)
    margin-left: 12px

.SidebarTabTitle
  flex: 1 1 auto
  text-align: center
