color-black = rgba(0, 0, 0, .87)
color-secondary = rgba(0, 0, 0, .43)

.SidebarTab
  color: color-secondary
  display: flex
  flex: 0 0 64px
  flex-direction: column
  justify-content: center

  &:not(:first-child)
    margin-left: 12px

  &:hover
    cursor: pointer
    color: color-black

//.SidebarTabIcon
//  background-color: color-secondary
//
//  &Contacts
//    height: 18px
//    width: 16px
//
//    mask: url(images/contacts.svg)
//
//  &Invoices
//    height: 20px
//    width: 17px
//
//    mask: url(images/invoices.svg)
//
//  &Messages
//    height: 20px
//    width: 21px
//
//    mask: url(images/messages.svg)

.SidebarTabTitle
  flex: 1 1 auto
  text-align: center
