.MessagesForm
  align-items: center
  background: #FFF
  box-shadow: 0 -4px 4px rgba(0, 0, 0, .05)
  display: flex
  flex: 0 0 56px
  height: 56px
  padding: 0 24px

.MessagesFormActions
  flex: 0 0 auto
  margin: 0 0 0 16px

.MessagesFormInput
  flex: 1 1 auto
