.MessagesItem
  align-items: flex-end
  display: flex;
  margin-top: 8px;

  &Incoming
    flex-direction: row-reverse;

    .MessagesItemText
      background: #EEE;

.MessagesItemDate
  margin: 0 8px;

.MessagesItemText
  background: #FFF;
  padding: 8px 12px;
  position: relative;


