.Messages
  display: flex
  flex: 1 1 auto
  flex-direction: column

.MessagesContainer
  display: flex;
  flex: 1 1 auto

.MessagesList
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  width: 100%;
