color-white = #FFF

.Header
  align-items: center
  background: color-white
  box-shadow: 0 4px 10px rgba(0, 0, 0, .05)
  display: flex
  height: 60px
  padding: 0 16px
  z-index: 2

.HeaderBalance
  display: flex
  margin-left: 24px

.HeaderLogo
  align-items: center
  display: flex
  flex: 1 1 auto

.HeaderLogoImage
  background: url(images/logo.svg)
  height: 26px
  width: 22px

.HeaderTopup
  margin-left: 24px

.HeaderSearch
  flex: 0 0 20px
  height: 20px
  margin-left: 24px
  width: 20px

.HeaderSearchButton
  border: 0
  height: 20px
  min-width: auto
  padding: 0
  width: 20px

.HeaderUser
  height: 24px
  margin-left: 24px
  overflow: hidden
  width: 24px

.HeaderUserAvatar
  height: 100%
  width: 100%

.HeaderUserButton
  height: 24px
  width: 24px
