.TransactionContainer {
  border-top: 1px solid rgba(23, 77, 161, .43);
  padding: 20px 0;
}

.TransactionField {
  display: flex;
  line-height: 24px;

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.TransactionFieldLabel {
  color: rgba(0, 0, 0, .43);
  flex: 0 0 30px;
  margin-right: 12px;
}

.TransactionHeader {
  margin-bottom: 20px;
}
