.EditPersonalFormAvatar
  display: flex
  margin-bottom: 16px

.EditPersonalFormAvatarControl
  flex: 0 0 auto
  height: 72px
  margin-left: 24px

.EditPersonalFormAvatarPreview
  flex: 0 0 72px
  height: 72px
  width: 72px
