.Invitation
  align-items: center
  display: flex
  flex-direction: column
  text-align: center

.InvitationCode
  margin-top: 24px

.InvitationCodeTitle
  font-weight: 600
  margin-bottom: 12px

.InvitationTitle
  font-size: 18px
  font-weight: 600
  margin-bottom: 16px
