:local .Profile {
 display: flex;
}

:local .ProfileBalance {
  padding: 24px;
}

:local .ProfileHeader {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: flex;
  padding: 24px;
}

:local .ProfileHeaderInfo {
  padding: 0 16px;
}

:local .ProfileInvite {
  padding: 24px;
}
