color-border = rgba(23, 77, 161, 0.43)

.EditExperienceItem
  &:not(:first-child)
    border-top: 1px solid color-border
    margin-top: 24px
    padding-top: 24px

.EditExperienceItemAction
  &:not(:last-child)
    margin-right: 8px

.EditExperienceItemActions
  margin-top: 16px
