.UserPersonalActions {
  border-top: 1px solid rgba(23, 77, 161, .43)
  display: flex
  margin-top: 12px;
  padding-top: 16px;
}

.UserPersonalActionsButton {
  align-items: center;
  color: rgba(0, 0, 0, .43);
  display: flex;
  justify-content: center;
  flex: 1 1 auto;

  &:hover {
    color: rgba(0, 0, 0, .87);
  }
}


.UserPersonalActionsIcon {
  background-color: #174DA1;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

