.Sidebar {
  background: #FFF;
  display: flex;
  flex: 0 0 280px;
  flex-direction: column;
  max-width: 280px;
  z-index: 1;
}

.SidebarContainer {
  flex: 1 1 auto;
  overflow-y: auto;
}

.SidebarTabs {
  box-shadow: 0 -4px 4px rgba(0, 0, 0, .05);
  display: flex;
  flex: 0 0 56px;
  padding: 0 16px;
}
